header{
    background-image: url("hatter.jpg");
    height: 150px;
    text-align: center;
}
.kek{
    color: blue;
    font-weight: bold;
    margin: 10px;
}
.arnyekolt{
    color:rgb(24, 12, 80);
    box-shadow: 2px 2px rgb(116, 9, 110);
    margin: 8px;
    padding: 5px;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }